#header {
  border-bottom: 3px double green;
  position: fixed;
  width: 100%;
}
#store-logo {
  padding: 20px;
  margin-left: 20px;
  text-align: center;
}
#logo {
  display: inline-block;
  color: green;
}
#store-name {
  display: inline-block;
  border-bottom: 2px solid black;
  font-size: 3.5em;
}
#cart {
  margin-right: 2%;
  float: right;
  text-align: right;
}
#cart-button {
  margin-top: 40px;
  background-color: green;
}
