.vspace { margin-top: 2px; }
.vspace1 { margin-top: 5px; }
.vspace2 { margin-top: 10px; }
.vspace3 { margin-top: 15px; }
.vspace4 { margin-top: 20px; }
.vspace5 { margin-top: 30px; }
.vspace6 { margin-top: 40px; }
.vspace7 { margin-top: 50px; }
.vspace8 { margin-top: 100px; }
.vspace9 { margin-top: 150px; }

.hspace0 { margin-right: -25px; }
.hspace { margin-right: 5px; }
.hspace1 { margin-right: 10px; }
.hspace2 { margin-right: 20px; }
.hspace3 { margin-right: 30px; }
.hspace4 { margin-right: 40px; }
.hspace5 { margin-right: 50px; }

.hspaceleft0 { margin-left: -15px; }

.off-white {  background-color: #5e6c7a; }

#header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

body {
  padding-top: 200px;
}
